<!DOCTYPE html>
<html lang="en" ng-app="storyApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <div ng-controller="storiesController">
    <h1>There are {{stories.length}} stories</h1>
  <ul>
    <li ng-repeat="story in stories">
      {{story.email}}
    </li>
  </ul>
  <form ng-submit="createStory()">
    <input type="text" placeholder="Email" ng-model="email">
    <button type="submit">Let's Go</button>
  </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
  <script src="/js/app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
  <script src="/js/controllers/stories-controller.js"></script>
</body>
</html>
