<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/darkly/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
</head>
<body ng-app="storyApp">



<!-- views will be injected here -->
<div class="container">
    <div ui-view>

    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron text-muted text-center">

    </div>
    </div>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
  <script src="/js/app.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
  <script src="/js/controllers/stories-controller.js"></script>
  <script src="/js/controllers/people-controller.js"></script>
</body>
</html>
